$primary-color: #835afd;
$background: #f8f8f8;
$font-color: #29292e;
$poppins: "Poppins", sans-serif;
$separator-color: #a8a8b3;
$questions-counter: #e559f9;
$border-radius: 8px;
$gray: #737380;
$max-width-mobile: 900px;