@import 'common';

.question {
  background: #fefefe;
  border-radius: $border-radius;
  padding: 24px;
  @include box-shadow;

  & + .question {
    margin-top: 8px;
  }

  &.highlighted {
    background: #F4F0FF;
    border: 1px solid $primary-color;

    footer .user-info span {
      color: $font-color;
    }
  }

  &.answered {
    background: #DBDCDD;
  }

  p {
    color: $font-color;
    text-align: justify;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: $gray;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      @include transition;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: $gray;
        gap: 8px;

        &.liked {
          color: $primary-color;

          svg path {
            stroke: $primary-color;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}